<?xml version="1.0"?>
<!--
/**
 * Yireo BingTranslate for Magento 
 *
 * @package     Yireo_BingTranslate
 * @author      Yireo (https://www.yireo.com/)
 * @copyright   Copyright 2017 Yireo (https://www.yireo.com/)
 * @license     Open Source License (OSL v3)
 */
-->
<config>
    <sections>
        <catalog>
            <groups>
                <bingtranslate translate="label">
                    <label>Microsoft Translator</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>900</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>

                        <client_key translate="label">
                            <label>Subscription Key</label>
                            <comment><![CDATA[See <a target="_new" href="http://docs.microsofttranslator.com/text-translate.html">Microsoft instructions</a>]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </client_key>

                        <buttonlabel translate="label">
                            <label>Button format</label>
                            <comment><![CDATA[Format of button-label ($FROM and $TO)]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </buttonlabel>

                        <langcode translate="label">
                            <label>Manual language code</label>
                            <comment>(Optional) <![CDATA[http://msdn.microsoft.com/en-us/library/hh456380.aspx]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </langcode>

                        <only_supported_languages translate="label">
                            <label>Only supported languages</label>
                            <comment>See <![CDATA[http://msdn.microsoft.com/en-us/library/hh456380.aspx]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </only_supported_languages>

                        <bork translate="label">
                            <label>Bork Debugging</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Use the Swedish chef for bork debugging]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bork>

                        <overwrite_existing translate="label">
                            <label>Overwrite existing values</label>
                            <comment>When using the Product API, overwrite existing values</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </overwrite_existing>

                        <skip_translation translate="label">
                            <label>Skip Translation</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Skip translation to allow for logging only]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </skip_translation>

                        <logging translate="label">
                            <label>Enable logging</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Enable logging to file var/log/bingtranslate.log]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </logging>

                        <widget_fixed translate="label">
                            <label>Set Widget AS Fixed</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Attach widget to bottom of page]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </widget_fixed>

                        <jquery translate="label">
                            <label>Load jQuery</label>
                            <frontend_type>select</frontend_type>
                            <comment><![CDATA[Attach widget to bottom of page]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </jquery>

                        <batch_attributes translate="label">
                            <label>Batch Attributes</label>
                            <comment><![CDATA[Attributes to translate when running batches]]></comment>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>bingtranslate/system_config_source_attribute</source_model>
                            <sort_order>81</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </batch_attributes>

                        <batch_stores translate="label">
                            <label>Batch Store Views</label>
                            <comment><![CDATA[Store Views to translate to when running batches]]></comment>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>adminhtml/system_config_source_store</source_model>
                            <sort_order>82</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </batch_stores>

                        <batch_max_items translate="label">
                            <label>Maximum display in batch-mode</label>
                            <comment><![CDATA[Treshold above which item-details will be hidden to save PHP memory]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </batch_max_items>
                    </fields>
                </bingtranslate>
            </groups>
        </catalog>
    </sections>
</config>
